name: Cron Job

on:
  schedule:
    # At every 4 hours
    - cron: "0 */4 * * *"


jobs:
  fetch:
    name: FetchLeaderBoard
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: yarn install using Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - run: yarn install
      - run: yarn leaderboard
        env:
          REDIS_HOST: ${{ secrets.REDIS_HOST }}
          REDIS_PORT: ${{ secrets.REDIS_PORT }}
          REDIS_PASSWORD: ${{ secrets.REDIS_PASSWORD }}

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "feat: updated leaderboard using GitHub workflow"